<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="../css/content.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>TITLE</h1>
            </header>

            <div class="memo-container">
                <h1 class="title">
                    제목이 표시됩니다.
                </h1>
                <h2 class="description">
                    메모의 부제가 표시됩니다.
                </h2>
                <div class="createdAt">
                    <span>2023.01.01</span>
                </div>

                <p class="content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam culpa necessitatibus, quas tenetur officia, dignissimos repudiandae dolore maxime maiores vitae ipsam odio quae nisi est consectetur, placeat impedit eaque dolorum.
                </p>
            </div>
        </div>

        <script src="../js/content.js"></script>
    </body>
</html>