<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="../css/note.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>TITLE</h1>
            </header>

            <div class="slogan">
                NOTE YOUR DAY
            </div>

            <div class="user-input-container">
                <div class="user-input">
                    <input type="text">
                </div>

                <div class="user-input">
                    <input type="text">
                </div>

                <div class="user-input">
                    <span>메모</span>
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </body>
</html>